/** email css **/
/** email css **/
.whole {
	margin: 0;
	padding: 0;
	width: 100%;
	 margin-top: 15%;
	height: auto;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
 
}

.whole .Img {
	float: left;
	border-right: 1px solid lightgray;
	width: 13%;
	 
	margin-left: 28%;
}

.whole .ttLogin {
		margin-right: 25%;
	float: right; 
   
	width: 30%;
}


/* Login.css */
/* body {
	 background: -webkit-linear-gradient(top,#fafafa, #eee);  
    background: -o-linear-gradient(bottom,#fafafa, #eee); 
    background: -moz-linear-gradient(bottom, #fafafa, #eee);  
    background: linear-gradient(to bottom,#fafafa, #eee); 
	 margin: 0;
	 height: 100%;
} */
 

 

.Go{
	margin-top: 15px;
	  background-color: rgba(242,242,242,0.5); 
padding: 5px 20px;
   border:  1px solid lightgray;	
   font-family: Segoe UI;
   
}

.Go:hover {
	cursor: pointer;
}

 


                                .text{
                                          width: 70%;
                                          padding: 5px 5px;
                                          border: solid 1px #EBEBEB;
                                          font-family: Segoe UI;
                                          box-shadow: inset 0 0px 0px #DDDED8;
                                          margin-top: 10px;
                                       
                                          font-size: 13px; 
                                           transition: all .3s ease;
										 }


                                         .text:focus {
                                          outline: none;
                                          border-color: #7E7E7E;
                                          box-shadow: inset 0 5px 10px #DDDED8;
										 }

                                         .text:focus + .buttoni {
                                         z-index: 99;
                                         background: #7E7E7E;
                                         color: white;
                                         right: 2px;
                                         opacity: 1;
                                          position: absolute;
                                         float: right;
}
														