   @font-face 
{
    font-family:"Myraid";
	src: url("../fonts/MyraidPro.ttf") format("truetype");
	 
}

  
  
 .boosterUpdate{
	 text-align: center;
     margin-top: 75px;
	 width: 20%;
 
 }
 
 .boosterUpdate   .bUS{
	 width: 100%;
	 text-align: left;
   margin-left: auto;
   margin-right: auto;
 }
 
 .boosterUpdate  input{
	  display: none; 
 } 
 
 
  
/* Let's get this party started */
.boosterUpdate::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
.boosterUpdate::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
 
/* Handle */
.boosterUpdate::-webkit-scrollbar-thumb {
    -webkit-border-radius: 100px;
    border-radius: 100px;
    background: rgba(0,0,0,0.2); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.boosterUpdate::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

/* Scroller Design End */

 
 
 
.box{
	 position: relative;
	 background: #fafafa;
	 height: 64px;
	 transition: all .15s ease-in-out;
}

.box::before{
	 content: '';
	 position: absolute;
	 display:block;
	 top: 0;
     bottom: 0;
	 left: 0;
     right: 0;
     pointer-events: none;
     box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0, .24);	 
}

 

.header h2{
	 
	 	width: 100%;
     padding: 15px 20px;
	margin: 0;
	 
	font-size: 20px;
	font-family: 'Myraid';
	color: rgba(0,0,0,0.7);
	cursor: initial;
   
}  

.header{
	height: 55px;
    background:   #FF7878;
	width: 100%;
     box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0, .24);	 
	 
}
.box-title{
	width: 100%;
	height: 64px;
	line-height: 64px;
	padding: 0 20px;
	display: inline-block;
	cursor: pointer;
	font-family: Segoe UI;
	font-size: 16px;
}

.box-content{
	width: 100%;
	padding: 30px 20px;
	font-size: 11pt;
	color: rgba(0,0,0,.54);
	display: none;
}

.box-close {
	position: absolute;
	height: 64px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

input:checked + .box{
	height: auto;
	margin: 16px 0;
	box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

input:checked + .box .box-title{ 
   border-bottom: 1px solid rgba(0,0,0,.18);
}

input:checked + .box .box-content,
input:checked + .box .box-close{
	  display: inline-block;
}


@media only screen and (max-width:960px){
	      .boosterUpdate{
	 width: 60%;
      
	  margin-left: 20%;
 }
  }
 
 
 @media only screen and (max-width:500px){
	      .boosterUpdate{
	 width: 80%;
      
	  margin-left: 12%;
 }
  }